<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>Get User</h1>
   <form method="POST" action="/test/GetAspTestUser">
    <input type="text" name="userId" />
    <input type="submit" value="ë¡œê·¸ì¸" />
   </form>
</body>
</html>