<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
   <form method="POST" action="/test/testForm">
    <input type="text" name="userId" />
    <input type="text" name="age" />
    <input type="submit" name="제출" />
   </form>
</body>
</html>