@{
    string title = "제목입니다";
    string title2 = "제목2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>Test page</h1>
    <h2>현재 시간</h2>
    @DateTime.Now.ToShortDateString()
    @{
        <br/> @title
    }
    <p>@title2</p>

    @{
        int hour = DateTime.Now.Hour;
        <p>현재: @hour 시</p>
        if(hour < 12) {
            <p>오전</p>
        } else {
            <p>오후</p>
        }
    }

@* @ 두번 적으면 @ 기호 그대로 출력 *@
    @@naver.com
</body>
</html>